<div class="row no-maghin-bottom">
  <div class="col s12 m7">
    <div class="card white mcb-card-form">
      <h5>Informations de facturation</h5>

      <% if flash[:errors].present? %>
        <div class="mcb-errors">
          <ul>
            <% flash[:errors].each do |msg| %>
              <li>* <%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <%= form_for(@order) do |f| %>
        <form>
          <div class="row no-maghin-bottom">
            <div class="input-field col s12 m6">
              <%= f.text_field :first_name, required: true, autofocus: true, placeholder: 'Prénom' %>
            </div>
            <div class="input-field col s12 m6">
              <%= f.text_field :family_name, required: true, autofocus: true, placeholder: 'Nom de famille' %>
            </div>
          </div>
          <div class="row no-maghin-bottom">
            <div class="input-field col s12">
              <%= f.email_field :email, required: true, autofocus: true, placeholder: 'Email' %>
            </div>
          </div>
          <div class="row no-maghin-bottom">
            <div class="input-field col s12">
              <%= f.text_area :address, class: 'materialize-textarea', required: true, autofocus: true, placeholder: 'Adresse' %>
            </div>
          </div>
          <div class="row no-maghin-bottom">
            <div class="input-field col s6">
              <%= f.date_field :start_at, class: 'datepicker', required: true %>
            </div>
          </div>
          <div class="row no-maghin-bottom">
            <div class="col s12 m6 offset-m3">
              <%= f.submit "Passer au paiement", class: 'mcb-form-cta-btn btn btn-large yellow black-text waves-effect waves-light' %>
            </div>
          </div>
        </form>
      <% end %>
    </div>
  </div>

  <div class="col s12 m5">
    <ul class="collection with-header">
      <li class="collection-header"><h5>Mon Panier</h5></li>

      <% @current_cart.line_items.sort_by(&:created_at).reverse.each do |line_item| %>
        <li class="collection-item">
          <div><%= line_item.product.name %>&nbsp;x&nbsp;<%= line_item.quantity %>
            <span class="secondary-content"><%= number_to_currency(line_item.total_price) %></span>
          </div>
        </li>
      <% end %>
    </ul>

    <ul class="collection with-header">
      <li class="collection-header"><h5>Le Total</h5></li>
      <li class="collection-item">
        <div>Montant total à payer
          <span class="secondary-content"><%= number_to_currency(@current_cart.sub_total) %></span>
        </div>
      </li>
    </ul>
  </div>
</div>

<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.datepicker');
    var instances = M.Datepicker.init(elems, options);
  });
</script>
