<p>
  Bonjour,<br>
  <br>
  Merci de votre réservation.<br>
  <br>
  Voici un récapitulatif de votre commande.<br>
  <br>
  <b>Commande effectuée le :</b> <%= @order.updated_at.strftime("%d/%m/%Y %H-%M") %><br>
  <br>
  <b>Informations personnelles :</b><br>
  Prénom : <%= @order.first_name %><br>
  Nom de Famille : <%= @order.family_name %><br>
  Email : <%= @order.email %><br>
  Adresse : <%= @order.address %><br>
  Ville : <%= @order.city %><br>
  Code Postal : <%= @order.zip_code %><br>
  Pays : <%= @order.country %><br><br>
  <br>
  <b>Information sur le séjour :</b><br>
  Chambre : n°<%= @order.room.number %><br>
  Date de début du stage : <%= @order.start_at.strftime("%d/%m/%Y") %><br>
  Date de fin de stage : <%= @order.end_at.strftime("%d/%m/%Y") %><br>
  <br>
  <b>Informations sur la commande :</b><br>
  Produits :<br>
  <% @order.line_items.sort_by(&:created_at).reverse.each do |line_item| %>
  &nbsp;&nbsp;-&nbsp;<%= line_item.product.name %> x <%= line_item.quantity %><br>
  <% end %>
  Sous-Total : <%= number_to_currency(@order.total_amount, unit: "€", separator: ",", delimiter: "", format: "%n %u") %><br>
  Coupon de Réduction : <%= @order.coupon %><br>
  Montant Total : <%= number_to_currency(@order.discounted_amount, unit: "€", separator: ",", delimiter: "", format: "%n %u") %><br>
  <br>
  Si certaines informations ne sont pas correctes ou si vous avez des questions, n'hésitez pas à nous contacter via Whatsapp si nécessaire.<br>
  <br>
  Dans un instant nous vous enverrons un email avec la marche à suivre pour finaliser votre réservation de stage au Mma Camp Brazil.<br>
  <br>
  Oss<br>
  Thibault Marino<br>
  Whatsapp <b>+55 (11)984683942</b><br>
  <a href="mailto:resa@mmacampbrazil.com">resa@mmacampbrazil.com</a>
  <a href="www.mmacampbrazil.com">www.mmacampbrazil.com</a>
</p>
