<div class="row">
  <% @products.each do |product| %>
    <div class="col s12 m4">
      <div class="card yellow">
        <div class="card-content white-text center">
          <span class="black-text card-title center"><%= product.name %></span>
          <i class="black-text card-duration"><%= product.duration_in_days %> jours / <%= product.duration_in_days - 1 %> nuits</i>
          <ul class="black-text card-list">
            <li class="valign-wrapper"><i class="material-icons tiny">add</i>Hébergement (en dortoire)</li>
            <li class="valign-wrapper"><i class="material-icons tiny">add</i>Accès à tous les entraînements</li>
            <li class="valign-wrapper"><i class="material-icons tiny">add</i>Repas du midi et du soir</li>
          </ul>
        </div>

        <div class="card-action white center">
          <span class="card-price black-text"><%= number_to_currency(product.price, separator: ",", delimiter: "", precision: 2, format: "%n €") %></span>
          <%= button_to "Ajouter au panier", line_items_path(product_id: product.id), class: "center card-atc-btn blue darken-4 yellow-text btn btn-small" %>
        </div>
      </div>
    </div>
  <% end%>
</div>

<div class="row no-maghin-bottom">
  <div class="col s12 m4 offset-m4 center">
    <%= link_to "Voir mon panier", cart_path(@current_cart), class: 'btn-large waves-effect waves-light btn yellow black-text' %>
  </div>
</div>
