<!DOCTYPE html>
<html>
  <head>
    <title>Réservations MMA CAMP BRAZIL</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <script src="https://js.stripe.com/v3/"></script>

  <body class="mcb-body">
    <nav class="white">
      <div class="nav-wrapper">
        <a href="https://mmacampbrazil.com" class="brand-logo center mcb-logo">
          <img src="https://mmacampbrazil.com/wp-content/uploads/2020/03/mma-camp-brazil-long-1000px.jpg" alt="MMA Camp Brazil Logo" width="200">
        </a>
      </div>
    </nav>

    <div class="container">
      <div class="row no-margin-bottom">
        <div class="col s12 m8 offset-m2 l10 offset-l1 center mcb-header">
          <h3 class="mcb-header-title">Réserver mon stage au MMA Camp Brazil</h3>

          <p class="no-margin-bottom">
            <span class="green darken-2 white-text">Version Béta</span><br>
            Notre plateforme de réservation en ligne est sécurisée par <u>Stripe</u>.
          </p>
        </div>
      </div>

      <nav class="mcb-breadcrumbs hide-on-med-and-down">
        <div class="nav-wrapper blue darken-4">
          <div class="col s12">
            <%= link_to "(1) Choisir mon Séjour", products_path, class: 'breadcrumb white-text' %>
            <%= link_to "(2) Mon Panier", cart_path(@current_cart), class: 'breadcrumb white-text' %>
            <%= link_to "(3) Informations clients", new_order_path, class: 'breadcrumb white-text' %>
            <%= link_to "(4) Paiement", products_path, class: 'breadcrumb white-text' %>
          </div>
        </div>
      </nav>

      <div class="row no-margin-bottom hide-on-med-and-up mcb-mobile-breadcrumbs">
        <div class="col s12 center">
          <ul>
            <li><%= link_to "(1) Choisir mon Séjour", products_path, class: 'black-text' %></li>
            <li><%= link_to "(2) Mon Panier", cart_path(@current_cart), class: 'black-text' %></li>
            <li><%= link_to "(3) Informations clients", new_order_path, class: 'black-text' %></li>
            <li><%= link_to "(4) Paiement", products_path, class: 'black-text' %></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container mcb-content">
      <%= yield %>
    </div>

    <footer class="page-footer grey darken-4 mcb-footer">
      <div class="container">
        <div class="row">
          <div class="col s12 center">
            <img src="https://mmacampbrazil.com/wp-content/uploads/2019/10/Logo-MCB-rond.png" alt="" width="100">
            <h5 class="white-text">MMA Camp Brazil</h5>
            <p class="grey-text text-lighten-4">Des stages de MMA et Jiu-Jitsu Brésilien authentiques,<br>dans une académie située au coeur de Sao Paulo, Brésil.</p>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container center">
          2021 © MMA Camp Brazil
        </div>
      </div>
    </footer>
  </body>
</html>
